@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.container {
  margin: 0;
  padding: 0;
}

.MobileText {
  display: none;
}

.Nav {
  overflow: hidden;
  color: white;
}

.bgImage {
  filter: brightness(90%) blur(3px);

  z-index: -1;
  width: 102vw;
  height: 108vh;
  top: -5vh;
  left: -1vw;
  position: fixed;
}

.Logo {
  position: absolute;

  font-size: 20px;
  text-decoration: solid;
  font-weight: 400;

  margin-top: 5vh;
  margin-left: 10vw;
  padding-top: 15px;

  img {
    width: 1em;
    margin-top: -0.3em;
  }

  ul {
    list-style-type: none;
    position: absolute;
    overflow: hidden;
    display: inline;
    width: 70vw;

    li {
      float: right;
      display: block;
      text-align: center;
      padding: 15px 15px;
      margin-left: 30px;
      text-decoration: none;
      border-radius: 10px;
      transition: 0.4s;

      a {
        color: white;
        text-decoration: none;
      }

      &:hover {
        background-color: rgba(165, 165, 165, 0.2);
        border-radius: 25px;
        // color: #545454;
      }

      // text-align: center;
    }
  }
}

.Header {
  height: 100vh;
  width: 100vw;

  .Title {
    width: inherit;
    position: absolute;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 100px;
    font-weight: 200;
    // margin: auto;
    margin-top: calc(50vh - 1em);
    text-align: center;
    text-shadow: 4px 4px 10px black;
  }
}

@media screen and (max-width: 786px) {
  .Header,
  .Logo {
    display: none;
  }

  .bgImage {
    filter: brightness(80%) blur(3px);

    z-index: -1;
    width: 102vw;
    height: 108vh;
    top: -5vh;
    left: -1vw;
    position: fixed;
  }

  .MobileText {
    color: white;
    margin-top: calc(50vh - 1em);
    text-shadow: 4px 4px 10px black;
    text-align: center;
    display: block;
  }
}
